.selected {
  font-weight: bold;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid darkgray;
  width: 80%;
}
 th {
   padding: 10px;
   text-align: left;
 }

td {
  padding: 5px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
